<!DOCTYPE html>
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

</head>
<body>
    

<div class="col-md-12 text-centre"> 
      <h1>Connacht Ultimate Frisbee </h1>
<body>
<div class="col-md-12 text-center"> 
    
      <h2>Welcome</h2>
      <p>
          Connacht Ultimate Frisbee would like to welcome you to our offfical page. <br>
          Training Time's:<br>
          Mondays: 5-6 - sports ground in Galway <br>
          Wednesdays: 4pm to 6pm - Roscommon Hyde park<br>
          Thursdays: 5pm-7pm - Mayo castlebar  <br>
      </p>
    </div>
   
<div class="container">
  <h3>Lastest News</h3> 
    
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      
    <!-- Indicators -->
 <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol> 

    <!-- Wrapper for slides -->
<div class="carousel-inner">
      <div class="item active">
          
        <img src="/images/girls.jpg" alt="womans team" style="width:100%;";>
          <div class="carousel-caption">
          <h5>Connacht Crunch</h5>
          <p>This past weekend, Connacht Ultimate Frisbee Frisbee hosted Connacht Crunch -- a 5v5, college warm-up tournament for women's Ultimate Frisbee teams across Ireland. There was a team from Ulster, Leinster and Munster after hard-fought games, Connacht women took 1st place! A great start to what is a promising year for the club.</p>
          </div>
        </div>

      <div class="item">
          
        <img src="/images/beginnners.jpg" alt="beginners" style="width:100%;">
          <div class="carousel-caption">
          <h5>Beginner's Training</h5>
          <p>Don't forget that there's indoor beginner training on in Castlebar today from 5pm-7pm. Can't wait to see you all there!!!</p>
          </div>
        </div>
    
      <div class="item">
          
        <img src="/images/team.jpg" alt="team" style="width:100%;">
          <div class="carousel-caption">
          <h5>WE ARE BACK</h5>
          <p>Come on down to Connacht Ultimate Frisbee first training of the season. This session is aimed at beginners to try out Ultimate Frisbee, a fast pace, non-contact, field sport.</p>
          </div>
      </div>
</div>

 <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<br>
<hr>
    
<h2>Scores from last Weekend</h2> <hr>
    <table class="table table-bordered">
         <thead class="thead-light">
<div section = "woman">
    
 
        <h3> Womans</h3>
        <ul>
          <li>Connacht 7</li>
          <li>USA 2</li>
        </ul>  
        <ul>
          <li>Leinster 3</li>
          <li>Connacht 5</li>
        </ul> 
         <ul>
          <li>Connacht 5</li>
          <li>Ulster 5</li>
        </ul>  
            <ul>
          <li>Munster 10</li>
          <li>Connacht 4</li>
        </ul> 
        <hr>
     </div>
        </thead>
</table>
<table class="table table-bordered">    
    <div section = "men">
    <h3> Mens</h3>

        <ul>
          <li>Connacht 6</li>
          <li>USA 14</li>
        </ul>  
        <ul>
          <li>Leinster 8</li>
          <li>Connacht 10</li>
        </ul> 
         <ul>
          <li>Connacht 15</li>
          <li>Ulster 7</li>
        </ul>  
            <ul>
          <li>Munster 12</li>
          <li>Connacht 14</li>
        </ul>
    </div>
</table>
<hr>

    
<div section = "meet the team">
    <div class="row">

    <div class="column">

        <img src="/images/boy.jpg" alt="President" width="250" height="250" class ="postion" class="rounded-circle img-fluid"><h6> President - Josh Murphy</h6>
            </div>
                <div class="column">
        <img src="/images/girl.jpg" alt="Treasurer" width = "250" height="250" class ="postion" class="rounded-circle img-fluid" ><h6>Secretary - Hannah Walsh</h6>
            </div>
            <div class="column">
    <img src="/images/boy2.jpg" alt="Secretary" width ="250" height="250" class ="postion" class="rounded-circle img-fluid" ><h6>Treasurer - John Burke</h6>
        </div> 
            </div>
            </div>
<hr>
    

<div id="respond" >
     <div  class="container-fluid" >
        <h3>Leave a Comment</h3>

            <form id="form-inline">

             <label for="nameArea">Name</label>  
            <input  name="firstname" id="handle" class= "form-control" placeholder="@Name">

            <label for="commentArea">Comment</label>                                                                      
            <input name="comment" id="comment" required="required" class = "form-control" placeholder="comment">
                
            <button  id="submit" class="button">Post</button>
            
       
            <div id="loadComments" class="col-lg-20"   ></div>
                 

            </form>
    </div>
</div>

    


    
    
</body>

