<!DOCTYPE html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
 

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>   
      
      <!-- Navigation -->
    <div class="topnav">
      <a class="active" href="#home" target="_blank">Home</a>
      <a href="#registration" target="_blank">Registration</a>
      <a href="/about">About</a>
      <a href="#news" target="_blank">News</a>
      <a href="#contact" target="_blank">Contact</a>
     <a href="/users/login">Already a member?</a>
    <a href="/feed">Feeds</a>
  <a href="/users/register">Sign up?</a>

    </div>
    {{{body}}}
      
 <footer>
	<section id="footer">
		<div class="container-fluid">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<h5> Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.facebook.com/galwayultimate/" target="https://www.facebook.com/galwayultimate/"><i class="fa fa-angle-double-right"></i>Facebook</a></li>
						<li><a href="https://instagram.com/nuigalwaypanteras/" target="https://instagram.com/nuigalwaypanteras/" ><i class="fa fa-angle-double-right"></i>Instargram</a></li>
						<li><a href="#snapchat" target="_blank"><i class="fa fa-angle-double-right"></i>Sanpchat</a></li>
						<li><a href="#videos" target="_blank"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                        <li><a href="#FAQ;" target="_blank"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
					    </ul>
                    
                </div>
                <hr>
			
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p1 class= "h5">
                            Connacht Ulimate Frisbee <br>
                            Email: frisbee@clubs.yahoo.ie<br>
                            &copy All right Reversed. </p1>
				</div>
			</div>	
		  </div>
	</section>
	</footer>
      
 <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>


      <script src = "/javascripts/assignment1.js"></script>
       <script src = "/javascripts/feed.js"></script>
    <script src="/javascripts/auth.js"></script>

    
</html>